.boardWrapper {
  width: 100%;
  color: #b2b2b2;
  padding-left: 32px;
  padding-bottom: 50px;
  padding-right: 32px;
}
@media (min-device-width: 800px) {
  .boardWrapper {
    margin-left: 50px;
  }
}

.graphBoardWrapper {
  padding-top: 20px;
}

.title {
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 16px;
  color: white;
  font-weight: bold;
}
.description {
  font-size: 20px;
  padding-bottom: 40px;
  margin: 0px 0;
  color: #b2b2b2;
}
