.functionTabWrapper {
  min-width: 64px;
  height: 100vh;
}
.functionTab {
  min-width: 64px;

  background: #010a16;

  height: 100vh;
  top: 0px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  padding-top: 24px;
  max-width: 100%;
  padding-bottom: 100px;
}
.logoWrapper img {
  max-width: 100%;
}

.icon {
  padding: 12px;
}
.icon:hover {
  background-color: rgba(255, 255, 255, 17%);
}
.icon:hover > .Icon {
  color: white !important;
}

.iconWrapper {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconWrapper a {
  padding-bottom: 16px;
}
@media (max-device-width: 640px) {
  .functionTabWrapper {
    display: none;
  }
}
