.addArticle {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 70vw;
}
.addTitle {
  color: #e0e0e0;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 10px;
}
.addForm {
  width: 100%;
  display: flex;
}
.input {
  width: 70%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: #6c6c6c;
  padding-left: 20px;
  font-size: 17px;
  border: solid 1px white;
}

.add {
  padding: 0 8px;
  width: 60px;
  margin-left: 10px;
  font-size: 17px;
  height: 46px;
  border-radius: 5px;
  border: none;
  background-color: #01b468;
  cursor: pointer;
}
