.boardWrapper {
}
.board {
  background-color: #3c3c3c;

  border-radius: 10px;
}
.title {
  color: white;
}
.content {
  font-size: 15px;
  color: gray;
  margin: 2px 0;
  color: white;
}
.subscribe_btn {
  padding: 0px 8px;
  margin: 5px 0;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #01b468;
  cursor: pointer;
}

.popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  color: #e2e2e2e2;

  animation: popUpSlide 0.4s;
  height: 100vh;
  width: 100%;
}
@keyframes popUpSlide {
  0% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}
.blur {
  min-width: 30%;
  background-color: #131313;
  opacity: 90%;
}
