.boardWrapper {
  width: 100%;
  color: #b2b2b2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}
.board {
  padding-left: 10px;
  border-radius: 10px;
}

.title {
  color: white;
  padding-top: 40px;
  padding-bottom: 16px;
}

.description {
  font-size: 20px;
  padding-bottom: 40px;
  margin: 0px 0;
  color: #b2b2b2;
}
.boxWrapper {
  display: flex;
}
.boxWrapperTitle {
  font-size: 26px;
  color: white;
  padding-top: 20px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #302f2f;
}

.box {
  width: 300px;
  padding-right: 40px;
}
.boxImg {
  padding-bottom: 4px;
}
.boxImg img {
  width: 100%;
}
.boxWord {
}
.boxTitle {
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 10px;
}
.boxDescription {
  font-size: 14px;
}

.popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  color: #e2e2e2e2;
  overflow-y: scroll;
  animation: popUpSlide 0.5s ease-in-out;
  height: 100vh;
  width: 100%;
}
@keyframes popUpSlide {
  0% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}
.blur {
  min-width: 30%;
  background-color: #000f24;
  opacity: 90%;
}
@media (max-device-width: 640px) {
  .box {
    justify-content: center;

    padding-right: 0px;
    padding-bottom: 16px;
  }
  .boxImg {
    min-width: 120px;
  }
  .boxImg > img {
    width: 100%;
  }

  .board {
  }
  .boxWrapper {
    flex-direction: column;
  }
}
