.container {
  position: relative;
  max-width: 500px;
}
.card {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  height: 100px;
  flex-direction: row;
  border-radius: 5px;
  align-items: flex-start;
  overflow: hidden;
  word-break: break-all;
}

.color {
  height: 100px;
  min-width: 30%;
  background: #4f4f4f;
}
.img {
  max-width: 100%;
}
.title {
  font-weight: bold;
  color: #e0e0e0;
}

.content {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #bebebe;
  word-wrap: break-word;
  overflow: hidden;
}
.wordWrapper {
  max-width: 500px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.delete {
  position: absolute;
  top: 0;
  right: -10px;
  font-weight: bold;
  font-size: 15px;
  color: #bebebe;
  background: none !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}
