.container {
  position: relative;
  max-width: 70%;
}
.card {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  height: 100px;
  flex-direction: row;
  border-radius: 5px;
  align-items: flex-start;
  overflow: hidden;
  word-break: break-all;
}

.color {
  height: 100px;
  width: 20%;
  background: #4f4f4f;
}
.img {
  min-width: 100%;
}
.title {
  font-weight: bold;

  color: #e0e0e0;
}

.content {
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 19px;
  color: #818181;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wordWrapper {
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.creator {
  padding-top: 5px;
  color: #818181;
  font-size: 0.8rem;
}
.delete {
  position: absolute;
  top: 0;
  right: -10px;
  font-weight: bold;
  font-size: 15px;
  color: #bebebe;
  background: none !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}
