.folderTabWrapper {
  width: 30%;
}
.folderTab {
  position: fixed;
  top: 0px;
  left: 50px;
  min-width: 170px;
  background: #191919;
  border: solid 1px #2a2a2a;
  height: 1200px;
  width: 250px;
  padding: 20px 0px;
}

.sectionTitle {
  color: #b5b5b5;
  font-weight: bold;
  padding-left: 10px;
  font-size: 22px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.labelWrapper {
  padding-left: 2px;
  display: flex;
  align-items: center;
}
.labelTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  padding-left: 5px;
}
.subTitle {
  padding-left: 30px;
  font-weight: bold;
}
@media (max-device-width: 640px) {
  .folderTab {
    display: none;
  }
}
.popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  color: #e2e2e2e2;

  animation: popUpSlide 0.4s;
  height: 100vh;
  width: 100%;
}
@keyframes popUpSlide {
  0% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}
.blur {
  min-width: 30%;
  background-color: #131313;
  opacity: 90%;
}

.addFolder {
  padding-top: 50px;
  background-color: #131313;
  width: 70%;
}
.addTitle {
  color: #e0e0e0;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.input {
  width: 30%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: #6c6c6c;
  padding-left: 20px;
  font-size: 17px;
  border: solid 1px white;
}
.saveBtn {
  padding: 0 8px;
  width: 60px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #e0e0e0;
  background-color: #01b468;
  cursor: pointer;
}
.cancelBtn {
  padding: 0 8px;
  width: 60px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #e0e0e0;
  background-color: #6c6c6c;
  cursor: pointer;
}
