.functionTab {
  min-width: 50px;
  background: #131313;
  border: solid 1px #2a2a2a;
  height: 800px;
  top: 0px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  padding-top: 10px;
  max-width: 50px;
  width: 100%;

  padding-bottom: 100px;
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-device-width: 640px) {
  .functionTab {
    display: none;
  }
}
