.mobileFunctionTabWrapper {
}
.mobileFunctionTab {
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  background: #000f24;
  bottom: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100%;
}

.logoWrapper img {
  max-width: 100%;
}
.mobileIconWrapper {
  justify-content: space-between;
  flex: auto;
  display: flex;
  align-items: center;
}
.mobileIconWrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burgerWrapper {
  position: absolute;
  top: 2.7rem;
  right: 32px;
  z-index: 3;
}
.title {
  font-weight: 600;
  font-size: 0.8rem;
}
@media (min-device-width: 640px) {
  .mobileFunctionTabWrapper {
    display: none;
  }
  .mobileFunctionTab {
    border: none;
  }
  .burgerWrapper {
    display: none;
  }
}
