.addArticle {
  padding: 2rem;
  width: 100%;

  background-color: #000f24;

  top: 0px;
  right: 0px;
}
.title {
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}
.description {
  font-size: 15px;
  padding-bottom: 20px;
  color: #b2b2b2;
  font-weight: bold;
}
.input {
  width: 75%;
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: #6c6c6c;
  padding-left: 1rem;
  font-size: 17px;
}

.add {
  padding: 0 8px;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #164cdf;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.cancel {
  padding: 0 8px;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #b2b2b2;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
