.addArticle {
  padding-top: 40px;
  padding-left: 24px;
  width: 100%;

  background-color: #0e1622;

  top: 0px;
  right: 0px;
}
.title {
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}
.addFolderLabel {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans" !important;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.addFormWrapper {
  width: 100%;
  padding-top: 8px;
}
.description {
  font-size: 15px;
  padding-bottom: 20px;
  color: #b2b2b2;
  font-weight: bold;
}
.addInput {
  display: inline-block;
  width: 65%;
  padding-top: 8px;
  padding-bottom: 7px;
  border: none;
  height: 48px;
  border-radius: 4px;
  background-color: rgba(32, 116, 236, 0.13);
  color: white;
  padding-left: 20px;
  font-size: 17px;

  border-bottom: none;
}
.addInput:focus {
  border-bottom: solid 1px #49b7f1;
  transition: border-bottom 2s ease-out;

  transform-origin: left;
}
.saveBtn {
  padding: 16px 24px;
  margin-bottom: 16px;
  margin-left: 24px;
  font-size: 13px;
  font-weight: bold;

  border-radius: 5px;
  border: none;
  color: #e0e0e0;
  background: #2074ec;

  cursor: pointer;
}
.cancelBtn {
  padding: 16px 24px;

  margin-left: 12px;
  font-size: 13px;
  font-weight: bold;
  background-color: #0e1622 !important;
  border-radius: 5px;
  border: solid 1px #2074ec;
  color: #2074ec;
  cursor: pointer;
}

.importButtom {
  padding-top: 72px;
  display: flex;
}

.imgWrapper {
  width: 50%;
}
.imgWrapper img {
  width: 100%;
}
.extension {
  width: 50%;
}
.extensionTitle {
  padding-top: 15%;
  width: 50%;
  color: #49b7f1;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2%;
  font-weight: 600;
}
.downloadExtBtn {
  font-weight: 600;
  color: white;
  font-size: 16px;
  line-height: 14px;
  border-radius: 35px;
  margin-top: 24px;
  background-color: #2074ec;
  width: 285px;
  padding: 20px 28px;
}
@media (max-width: 770px) {
  .addInput {
    width: 90%;
    margin-bottom: 16px;
  }
  .saveBtn {
    margin-left: 0;
  }
}

@media (max-width: 632px) {
  .addArticle {
  }
  .saveBtn {
  }
  .importButtom {
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .addArticle {
    overflow-y: scroll;
  }
  .extension {
    width: 80%;
  }
  .extensionTitle {
    width: 100%;
  }
  .imgWrapper {
    width: 90%;
  }
  .importButtom {
    flex-direction: column;
    align-items: flex-start;
  }
  .addArticle {
    width: 90vw;
  }

  .tagsImgWrapper {
    padding-top: 72px;
  }
  .tagsImgWrapper img {
    width: 90%;
  }
}
