.landingWrapper {
  width: 100vw;
}
.headWrapper {
  background-color: #0e1622;
  height: 96px;
  padding-left: 2rem;
  padding-right: 56px;
  display: flex;
  align-items: center;
}
.homeWrapper {
  width: 10rem;
  display: flex;
  flex-direction: row;
}
.logoTitle {
  padding-left: 0.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
  font-weight: 600;
}
.logoWrapper {
  display: flex;
  width: 3rem;
}
.logoWrapper img {
  height: 3rem;
  width: 3rem;
}
.logInWrapper {
}
.logInBtn {
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  padding: 16px 28px;
  border-radius: 8px;
  background-color: #2074ec;
}
.SignUpBtnWrapper {
  margin-left: auto;
}
.SignUpBtn {
  padding-right: 24px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.title {
  color: white;
  padding-top: 25%;
  padding-bottom: 1rem;
  font-size: 40px;
  line-height: 56px;
  padding-left: 56px;
  font-family: "Open Sans", sans-serif;
}
.subTitle {
  color: #b2b2b2;
  font-size: 2rem;
}
.main {
  padding-top: 6rem;
  display: flex;
}

.getStarted {
  width: 200px;
  color: white;
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 56px;
  background-color: #2074ec;
  padding: 16px 28px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.mainLeft {
}
.mainRight {
  text-align: center;
  min-width: 55%;
  padding-top: 3rem;
  padding-right: 56px;
}
.mainRight > img {
  width: 100%;
}

@media (max-width: 632px) {
  .title {
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  .headWrapper {
    height: 56px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .logoWrapper {
    width: 30px;
  }
  .logoTitle {
    line-height: 24px;
    font-size: 24px;
  }
  .logInBtn {
    color: white;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 14px;
  }
  .SignUpBtn {
    padding-right: 24px;
    font-size: 12px;
  }
  .main {
    padding: 0;
    flex-direction: column-reverse;
  }
  .mainRight {
    padding-left: 24px;
  }
  .getStarted {
    margin-left: 25%;
  }
  .mainLeft {
    justify-content: center;
  }
}
