.addArticle {
  margin-bottom: 10px;

  margin-top: 5px;
}
.input {
  width: 75%;
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: black;
  color: #6c6c6c;
  margin-right: 20px;
  font-size: 17px;
}

.add {
  padding: 0 8px;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 171, 249);
  cursor: pointer;
}
