* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #131313;
}
a {
  direction: none;
}
.content {
  display: flex;
}

.cardWrapper {
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: #b2b2b2;
}
.title {
  color: white;
}
/* for MDE  */
.mde-preview {
  color: white !important;
  text-decoration: none;
}
.mde-preview code {
  color: #ffd306;
}
.mde-preview {
  background: #3c3c3c;
}
.mde-preview-content pre {
  background: #003d79 !important;
}
