* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  background-color: #272727;
}

.content {
  display: flex;
  padding-top: 37px;
}
.App-header {
  width: 100%;
  display: flex;
  position: fixed;
  background: #272727;
  top: 0;
  z-index: 3;
}
.addArticle {
  width: 70%;
  margin-right: auto;
}

.cardWrapper {
  flex-wrap: wrap;
}

a:link,
a:visited {
  text-decoration: none;
}

/* for MDE  */
.mde-preview {
  color: white !important;
  text-decoration: none;
}
.mde-preview code {
  color: #ffd306;
}
.mde-preview {
  background: #3c3c3c;
}
.mde-preview-content pre {
  background: #003d79 !important;
}
