* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #010a16;
}
a {
  direction: none;
}
.content {
  display: flex;
}

.cardWrapper {
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: #b2b2b2;
}
.title {
  color: white;
}
textarea:focus,
input:focus {
  outline: none;
}
/* Common component */

/* for Highlighter */

.highLighter {
  background-image: linear-gradient(transparent 50%, #3973c9 60%);
}

/* for MDE  */
.mde-preview {
  color: white !important;
  text-decoration: none;
}
.mde-preview code {
  color: #ffd306;
}
.mde-preview {
  background: #3c3c3c;
}
.mde-preview-content pre {
  background: #003d79 !important;
}

.MuiTreeItem-label {
  padding-left: 0px;
}
[z] {
  display: none;
}

/* progress bar */
.MuiLinearProgress-barColorPrimary {
  background-color: #01b468 !important;
}

/* toast */
.Toastify__toast-container {
  width: auto !important;
}
.Toastify__toast--dark {
  padding-left: 16px !important;
  background-color: #3d434d !important;
}

.Toastify__toast--dark a {
  padding-left: 24px;
  color: #56ccf2;
  text-decoration: underline;
}
.toastBody {
  display: flex;
  align-items: center;
}
.toastText {
  padding-left: 4px;
  padding-right: 12px;
  font-family: "Open Sans" !important;
  display: inline-block;
  font-size: 16px !important;
  line-height: 24px !important;
}

/* d3 graph */
.svgText:active {
  stroke: #01b468;
}
/* tree view */
.MuiTreeItem-content {
  padding-bottom: 8px;
}
