.articleWrapper {
  padding: 10px 20px;
  display: flex;
}
.main {
  padding-right: 0.5rem;
}

.title {
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}

.head {
  padding-top: 10px;
}

.tagWrapper {
  display: flex;
  padding-bottom: 10px;
}
.tag {
  background-color: #5b5b5b;
  color: #eac100;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: bold;
  margin-right: 10px;
}
.addTag {
  background-color: #5b5b5b;
  color: #eac100;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: bold;
  margin-right: 10px;
  border: none;
}
.addTag:focus {
  display: flex;
}

.actionIconWrapper {
  display: flex;
  align-items: center;
}

.showNoteIcon {
}
.articleMain {
  padding: 0.4rem 0;
  display: flex;
  flex-direction: row;
}

.noteWrapper {
  min-width: 45%;
}
.note {
  position: fixed;
  top: 3.5rem;
  right: 2rem;
  width: 40%;
  animation: popUpSlide 0.4s;
  color: #dcdcdc;
  padding-left: 1rem;
  overflow-y: scroll;
}

@keyframes popUpSlide {
  0% {
    right: -200px;
  }
  100% {
    right: 1rem;
  }
}

.noteTitle {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.highLightTitle {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.highLightBox {
  background-color: #1b1f2c;
  padding: 0.5rem;
  border-left: solid 6px;
  margin-bottom: 1rem;
}

.articleBody {
  max-width: 100%;
  padding: 20px;
  border: solid 1px white;
  background: #000f24;
  line-height: 1.7;
  color: #dcdcdc;
}
.articleBody p {
  padding-bottom: 15px;
}
.articleBody pre {
  background: #222222;

  border-left: 20px solid #39382e;
  color: #ffd306;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.articleBody h2 {
  font-size: 1.6rem;
  padding: 20px 0;
}

.articleBody h3 {
  font-size: 1.3rem;
  padding: 20px 0;
}
.articleBody img {
  padding-bottom: 20px;
  margin-left: 15%;
  max-width: 70%;
}
.articleBody a:link,
a:visited {
  color: rgb(30, 171, 249);
}

.articleBody li {
  padding-left: 10px;
}
.articleBody ol {
  list-style: none;
}

.articleBody hr {
  margin: 40px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* hgihLight function */
.highLightOffWrapper,
.highLightOnWrapper {
  cursor: pointer;
  width: 2.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  padding: 0.3rem 0;
  margin-right: 0.5rem;
}
.highLightOffWrapper:hover,
.noteOffWrapper:hover {
  background-color: #293452;
}

.highLightOnWrapper,
.noteOnWrapper {
  background-color: #1a3a92;
}

.noteOnWrapper,
.noteOffWrapper {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 2.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 0.3rem 0;
}

@media (max-width: 632px) {
  .articleWrapper {
    padding: 1rem 2rem;
  }
  .articleBody {
    max-width: 100%;
  }
  .note {
    background-color: #000f24;
    left: 55vw;
    width: 40%;
    z-index: 8;
  }
  .highLightOffWrapper {
    display: none;
  }
  .main {
    padding-right: 0;
  }

  .noteWrapper {
    z-index: 8;
  }
}
