.container {
  position: relative;
  padding-bottom: 20px;
  width: 70%;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  height: 100px;
  flex-direction: row;

  align-items: flex-start;
  overflow: hidden;
  word-break: break-all;
}
.imgWrapper {
  border-radius: 5px;
  height: 100px;
  width: 150px;
}
.color {
  height: 100%;
  border-radius: 4px;
}
.img {
  max-width: 100%;
}

.actionContainer {
  flex: auto;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.delete {
  font-weight: bold;
  font-size: 15px;
  color: #bebebe;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.titleWrapper {
  display: flex;
}
.title {
  font-weight: bold;
  color: #e0e0e0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 1rem;
  color: #818181;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wordWrapper {
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}
