.card {
  width: 17%;
  margin-right: 15px;

  border-radius: 5px;
}

.color {
  height: 100px;
  background: darkcyan;
}
.title {
  padding-top: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

.content {
  padding-top: 5px;
  color: #bebebe;
}
