.container {
  position: relative;
  max-width: 70%;
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}
.card {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  height: 100px;
  flex-direction: row;
  border-radius: 5px;
  align-items: flex-start;
  overflow: hidden;
  word-break: break-all;
}

.color {
  height: 80px;
  width: 20%;
  background: #222121;
}
.img {
  max-width: 100%;
}

.actionContainer {
  flex: auto;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.delete {
  font-weight: bold;
  font-size: 15px;
  color: #bebebe;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.title {
  display: flex;
  font-weight: bold;
  color: #e0e0e0;
}

.content {
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 19px;
  color: #818181;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wordWrapper {
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
