.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}
.block {
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 6px;
  background: #3c3c3c;
  width: 50%;
}
.title {
  color: #fcfcfc;
  font-size: 40px;
}
.form {
  align-items: center;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.inputbox {
  width: 300px;

  padding: 2px 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 6px;
  font-size: 20px;
  color: #8e8e8e;
}
.inputbox > input {
  margin: 4px 0;
  background: #4f4f4f;
  border: none;
  padding: 5px 0;
  color: #adadad;
  font-size: 15px;
  padding-left: 10px;
}

.inputbox > input:-internal-autofill-selected {
  border: none;
  color: #adadad;
  font-size: 15px;
  padding-left: 10px;
}
.form > button {
  width: 300px;
  height: 30px;

  background: #1eabf9;
  color: black;
  border: none;
  border-radius: 5px;
}
.login {
  color: white !important;
  text-decoration: none;
}
